body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #35499e;
    display: flex;
    display: -webkit-flex; /* Safari */
    height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    display: -webkit-flex; /* Safari */
    width: 100%;
    flex-direction: row;
}

.left-side {
    background-color: #ffffff;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: center;
    align-items: flex-start;
    flex: 4;
}

.left-side img {
    max-width: 100%;
    height: auto;
}

.right-side {
    flex: 6;
    background-color: #ffffff;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 60px 20px 20px 20px;
}

.logo img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.tagline {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.text {
    text-align: center;
    margin-bottom: 20px;
}

.cta-button {
    width: 30%;
    min-width: 200px;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right, #35499e, #00b2ba, #39b54a);
    color: white;
    transition: box-shadow 0.3s ease;
}
  
.cta-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.social-icons {
    display: flex;
    gap: 30px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.facebook {
    background-color: #0866ff;
}

.instagram {
    background: linear-gradient(45deg, #F7D447, #f58529, #dd2a7b, #8134af, #515bd4);
}

.linkedin {
    background-color: #0a66c2;
}

.social-icon:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}